@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.sideCard {
  position: fixed;
  top: 0;
  left: 100%;
  width: 400px;
  height: 100vh;
  transition: 0.5s;
}
.active .sideCard {
  left: calc(100% - 400px);
}

.disabled-button {
  background-color: gray !important;
  cursor: not-allowed;
}
.enabled-button {
  background-color: #fe5443 !important;
  cursor: pointer;
}
